$mobile: 375px;
$desktop: 1440px;

$homepage: 0.9rem;
$detailpage: 1rem;

$thin: 300;
$medium: 600;
$bold: 800;

$colors: (
  lightMode: (
    veryDarkBlue: hsl(200, 15%, 8%),
    darkGray: hsl(0, 0%, 52%),
    veryLightGray: hsl(0, 0%, 98%),
    white: hsl(0, 0%, 100%),
  ),
  darkMode: (
    darkBlue: hsl(209, 23%, 22%),
    veryDarkBlue: hsl(207, 26%, 17%),
    white: hsl(0, 0%, 100%),
  ),
);

@function get-color($color, $mode: lightMode) {
  @return map-get($colors, $mode, $color);
}

@mixin media($type: $desktop) {
  @media screen and (min-width: $type) {
    @content;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
