$mobile: 375px;
$desktop: 1440px;

$homepage: 0.9rem;
$detailpage: 1rem;

$thin: 300;
$medium: 600;
$bold: 800;
$colors: (
  lightmode: (
    primary-text: hsl(200, 15%, 8%),
    primary-accent: hsl(189, 28%, 95%),
    primary-background: hsl(0, 0%, 98%),
    secondary-background: hsl(0, 0%, 52%),
    light: hsl(0, 0%, 100%),
  ),
  darkmode: (
    primary-text: hsl(0, 0%, 95%),
    primary-background: hsl(207, 26%, 17%),
    primary-accent: hsl(207, 24%, 35%),
    secondary-background: hsl(209, 23%, 22%),
    light: hsl(0, 0%, 100%),
  ),
);

$shadow: rgba(36, 36, 36, 0.1) 0px 2px 5px 0px;
$shadowDark: rgba(156, 166, 183, 0.15) 0px 2px 5px 0px;

$shadowHeader: rgba(36, 36, 36, 0.15) 0px -2px 10px 0px;
$shadowHeaderDark: rgba(174, 183, 197, 0.15) 0px 2px 5px 0px;

@function get-color($color, $mode: lightmode) {
  @return map-get($colors, $mode, $color);
}

@mixin media($type: $desktop) {
  @media screen and (min-width: $type) {
    @content;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
