@use 'base';

body {
  background-color: get-color(white);
}

h1 {
  font-size: $detailpage;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

.icon {
  width: $homepage;
  margin: 0 5px;
  vertical-align: top;
}

.btn {
  box-shadow: rgba(36, 36, 36, 0.1) 0px 1px 25px 0px;
  background-color: get-color(white);
  padding: 10px 30px;
  border: none;
  cursor: pointer;

  &__mode {
    padding: 10px 0;
  }

  &__icon {
  }
}
