@use 'base';

body {
  font-size: 62.5%;
  transition: 0.2s;
  transition-property: background-color, color;
}

body.light {
  background-color: get-color(primary-background);
  color: get-color(primary-text);
}

body.dark {
  background-color: get-color(primary-background, darkmode);
  color: get-color(light, darkmode);
}

body,
input,
textarea,
button {
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  font-size: 1rem;

  @include media {
    font-size: 1.4rem;
  }
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;

  @include media {
    font-size: 1rem;
  }
}

img {
  body.light & {
    filter: brightness(1);
  }

  body.dark & {
    filter: brightness(0.9);
  }
}

p,
li,
ul,
span,
button {
  font-size: 1rem;
}

summary,
li {
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

.icon {
  width: 12px;
  margin: 0 5px;
}

.btn {
  position: relative;
  padding: 10px 50px;
  border: none;
  cursor: pointer;
  border-radius: 5px;

  body.light & {
    background-color: get-color(light);
    color: get-color(secondary-background, darkmode);
    box-shadow: $shadow;
  }
  body.dark & {
    background-color: get-color(secondary-background, darkmode);
    color: get-color(light, darkmode);
    box-shadow: $shadowDark;
  }

  &__prev {
    &::before {
      content: '\1F850';
      position: absolute;
      left: 12px;
      top: 6px;
      font-size: 1.4rem;
    }
  }

  &__mode {
    display: flex;
    align-items: center;
    padding: 10px;
  }
}
