@use 'base';



body {
  font-size: 62.5%;
  background-color: get-color(white);
  color: get-color(veryDarkBlue);
}

body,
input,
textarea,
button {
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  font-size: 1rem;

  @include media {
    font-size: 1.4rem;
  }
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;

  @include media {
    font-size: 1rem;
  }
}

p,
li,
ul,
span,
button {
  font-size: 1rem;
}
summary,
li {
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

.icon {
  width: $homepage;
  margin: 0 5px;
}

.btn {
  position: relative;
  background-color: get-color(white);
  padding: 10px 50px;
  border: none;
  cursor: pointer;
  box-shadow: $shadow;
  border-radius: 5px;

  &__prev {
    &::before {
      content: '\1F850';
      position: absolute;
      left: 12px;
      top: 6px;
      font-size: 1.4rem;
    }
  }

  &__mode {
    padding: 10px 0;
    box-shadow: none;
  }
}
